.idea/
Charisma.Application/obj/
Charisma.Domain/obj/
Charisma.Infrastructure/obj/
Charisma.Persistence/bin/
Charisma.Persistence/obj/
Charisma.Presentation/bin/
Charisma.Presentation/obj/
Charisma.SharedKernel/obj/
Charisma.Test/bin/
Charisma.Test/obj/
Charisma.Web/bin/
Charisma.Web/obj/
Charisma.SharedKernel/bin/
Charisma.Application/bin/
Charisma.Domain/bin/
Appointment.Infrastructure/bin/
Appointment.Application/bin/
Appointment.Infrastructure/obj/
Appointment.Domain/bin/
Appointment.Persistence/obj/
Appointment.Presentation/obj/
Appointment.Domain/obj/
Appointment.SharedKernel/obj/
Appointment.SharedKernel/bin/
Appointment.Web/bin/
Appointment.Web/obj/
Appointment.Persistence/bin/
Appointment.Application/obj/
Appointment.Presentation/bin/
